Source: hermpic
Section: tex
Priority: optional
Maintainer: Sven Schoradt <sven@dex.de>
Build-Depends-Indep: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: hermpic
Architecture: all
Depends: tetex-extra
Description: LaTeX class for drawing HERM diagramms.
 HERM-Pic is a LaTeX class for drawing HERM diagramms. Its written
 the basis of a privat package by Bernhard Thalheim. Its aim is 
 offering a comfortable way to draw HERM diagramms, with less
 limitations to the processibility of the consisting tex document.

